<div class="card border-primary">
    <div class="card-header bg-primary text-white">
        About Component {{"Hello"|getChar}}
    </div>
    <div class="card-body">
        <ul>
            <li>{{info.name}}</li>
            <li>{{info.email}}</li>
            <li>{{info.tel}}</li>
        </ul>
        <div class="form-group">
            <label for="">Message</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="comment.message">
            </div>

            <button class="btn btn-primary" (click)="addComment()" [disabled]="newComment">
                Add Comment
            </button>
        </div>
      <!--  <app-comment [comments]="comments"></app-comment> -->
      <div *ngIf="comments.length>0; then listComment  else noComment">
        demoe demo demo
    </div>
    <ng-template #listComment>
        <h3>Comment list</h3>
        <ul class="list-group">
            <ng-container
                *ngFor="let comment of comments; let i=index; let isEven=even; let isOdd=odd, let isFirst=first; let isLast=last"
                >
                <app-comment [comment]="comment" [isEven]="isEven" [isOdd]="isOdd"></app-comment>
                <!--ngClass-->
               
                <!--NgStyle-->
                <!--    <li *ngIf="isEven"
                  [ngStyle]="{color:colors.even}"
                 class="list-group-item d-flex justify-content-between align-items-center">
               
                    {{i}}#{{isFirst}}#{{isLast}}#{{isEven}}#{{isOdd}}#{{comment.message}} <span
                        class="badge badge-secondary badge-pill">{{comment.date|date:'HH:mm:ss'}}</span>
                  
                </li>
                <li *ngIf="isOdd"
                [ngStyle]="{color:colors.odd}"
                 class="list-group-item d-flex justify-content-between align-items-center">
               
                    {{i}}#{{isFirst}}#{{isLast}}#{{isEven}}#{{isOdd}}#{{comment.message}} <span
                        class="badge badge-secondary badge-pill">{{comment.date|date:'HH:mm:ss'}}</span>
                  
                </li> -->
            </ng-container>
    
        </ul>
    </ng-template>
    <ng-template #noComment>
        <h3>No comments</h3>
    </ng-template>
    
    </div>


</div>